@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
color: #1d1d1d;
font-family: Poppins;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
}

.App {
  text-align: center;
}

.outline-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    border: 1px solid #333333;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #333333;
    text-decoration: none;

    @media (max-width: 992px) {
        font-size: 20px !important;
        line-height: 32px !important;
    }
}

.downloadicon {
    width: 20px;
    height: 20px;
    margin-left: 16px;
}

.outline-button:hover {
    background-color: #F5F5F5;
    text-decoration: none;
    color: #333333;
}