.workpage {
    margin-top: 216px;
    padding-left: 72px;
    padding-right: 72px;
    margin-bottom: 96px;

    @media (max-width: 992px) {
        margin-top: 200px;
    }

}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 56px;
}

.card-work {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;

    @media (max-width: 992px) {
        flex-direction: column-reverse;
    }
}

.card-work.right {
    @media (max-width: 992px) {
        flex-direction: column;
    }
}

.card-work.visible {
    opacity: 1;
    transform: translateY(0);
}

.button-row {
    margin-top: -32px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;

    @media (max-width: 992px) {
        justify-content: flex-end;
    }
}

.button-row-right {
    margin-top: -32px;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
}

.card-work img {
    width: 100%;
    box-shadow: 0px 4px 144px rgba(47, 45, 76, 0.2);
    border-radius: 24px;
}

.card-work-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    max-width: 560px;

    @media (max-width: 992px) {
        align-items: center;
    }

    @media (max-width: 768px) {
        gap: 24px
    }

}

.card-work-text h1 {
    color: #032849;

    @media (max-width: 768px) {
        font-size: 28px !important;
        line-height: 40px !important;
        text-align: center;
    }

    @media (max-width: 576px) {
        font-size: 24px !important;
        line-height: 36px !important;
    }
}

.body-large {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333333;
    text-align: left;
    margin: 0 !important;

    @media (max-width: 992px) {
        text-align: center;
    }

    @media (max-width: 768px) {
        font-size: 18px !important;
        line-height: 24px !important;
    }

    @media (max-width: 576px) {
        font-size: 16px !important;
        line-height: 24px !important;
    }

}

.card-work-text2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    @media (max-width: 992px) {
        align-items: center;
        text-align: center;
    }

}

.sub-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #808080;
    margin: 0 !important;
}

.overlay-container {
    position: relative;
}

.overlay-container::after {
    border-radius: 24px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-container:hover::after {
    opacity: 1;
}

